/* Icons */
img.icon-blue {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('img/green_ball.png') no-repeat;
  padding-left: 100%;
}

img.icon-red {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('img/red_ball.png') no-repeat;
  padding-left: 100%;
}

img.icon-disabled {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('img/gray_ball.png') no-repeat;
  padding-left: 100%;
}

/* Header */
#header {
  background-color: #103185;
}

/* Project Status */
#projectstatus td:nth-of-type(2), #projectstatus th:nth-of-type(2) {
  display: none; /* Hide 2nd 'health report' column */
}

/* Console Output */
.console-output{
  background-color: #002b36;
  color: #93a1a1;
  padding: 5px;
  border-radius: 5px;
}

/* Status/History Tables */
#buildHistory table, #side-panel table {
  word-wrap: break-word;
}
