/* Icons */
img.icon-blue {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('img/green_ball.png') no-repeat;
  padding-left: 100%;
}

/* Project Status */
#projectstatus td:nth-of-type(2) {
  display: none; /* Hide 2nd 'health report' column */
}

/* Console Output */
#id.console-output{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}